body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
section, article, nav, aside, footer, sidebar{
    border: 1px solid grey;
    margin: 5px!important;
    padding: 8px!important;
}
.container-fluid{
	padding: 0px!important;
}
a:hover {
	text-decoration: none;
}
/*
General Purpose Classes
*/
.no-margin{
	margin:0px!important;
	
}
.no-padding{
	padding:0px!important;
}
.no-border{
	border:0px;
}


/*
Live News Ticker
*/
.live-news .label{
	display:inline-block;
	
}
.ticker{
	display:inline-block;
}
@keyframes up-right {
    0% {
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.live-news .indicator{
	
}
.circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    opacity: .25;
    margin-left:-8px!important;
}
.red {
    background-color: red;
    position: absolute;
    top: 42%;
    -webkit-animation: up-right 1s infinite;
    -moz-animation: up-right 1s infinite;
    -o-animation: up-right 1s infinite;
    animation: up-right 1s infinite;
}
/*
	Header Components
*/
header{
	margin:5px;
	border-radius:3px;
	border:1px solid #cdcdcd;
	padding:15px;
}
.header-text{
	display:inline-block;
	font-size:1.2em;
}
.logo{
	display:inline;
}
.logo img{
	width:34px;
	height:32px;
}


/*
	Navigation Bar
*/
nav{
	background: rgba(175,175,175,0);
}
nav a{
	text-decoration:none;
	padding:5px;
}
nav a:hover{
	text-decoration:none;
	border-radius:5px;
	//-webkit-animation: NavHover 1s 1; /* Safari 4.0 - 8.0 */
    //animation: NavHover 0.5s 1;
	//animation-fill-mode:forwards;
}
@keyframes NavHover{
	30%{
		background: rgba(175,175,175,0.3);
	}
	100%{
		background: rgba(175,175,175,0.6);
	}
}
.nav-link{
	padding-right: .5rem;
    padding-left: .5rem;
}
/*
	Main Section
*/
.content{
	//border: 1px solid grey;
    margin: 5px!important;
    padding: 0px!important;
}
.main{
	margin-right:0px!important;
}

.section-header{
	font-size:1.3em;
	border-bottom:1px solid #0056b3;
	margin: 5px;
	padding:5px;
	font-weight:500;
	text-transform: capitalize;
}
.exception{
	color:red;
}
section.main article{
	height: inherit;
}
section.main article .text{
	overflow:hidden;
}
section.main article .media{
	height: 180px;
}
section.main article .text .author{
	font-size:0.6em;
}
section.main article .media .thumbnail{
	border:1px solid #000;
	width:100%;
	height:100%;
}
/*
	Footer
*/
footer{
	text-align:center;
}