<section class="main no-margin col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm-12" ng-show="exception">
    <div class="section-header exception">No such category exists</div>
</section>
<section class="main no-margin col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm-12" ng-hide="exception">
    <div class="section-header">{{category}}</div>
    <input type="text" ng-model="data.email">
    <p ng-bind="data.email"></p>
    <article ng-repeat="element in news">
        <div class="row no-margin">
            <div class="media col-md-4 col-lg-4 col-xl-4 col-xs-12 col-sm-4" ng-hide="element.urlToImage==null">
                <div class="thumbnail">
                    <img src="{{element.urlToImage}}" style="width:100%;height:100%;">
                </div>
            </div>
            <div class="text col-md-8 col-lg-8 col-xl-8 col-xs-12 col-sm-8" ng-hide="element.urlToImage==null">
                <h5><a href="{{element.url}}" target="_blank">{{element.title}}</a></h5>
                <span class="author text-muted">{{element.author || "Unknown"}}, {{element.source.name || "Unknown"}} | {{element.publishedAt | date:'medium'}}</span>
                <p>{{element.description}}</p>
            </div>
            <div class="text col-md-12 col-lg-12 col-xl-12 col-xs-12 col-sm-12" ng-show="element.urlToImage==null">
                <h5><a href="{{element.url}}" target="_blank">{{element.title}}</a></h5>
                <span class="author text-muted">{{element.author|| "Unknown"}}, {{element.source.name || "Unknown"}} | {{element.publishedAt | date:'medium'}}</span>
                <p>{{element.description}}</p>
            </div>
        </div>
    </article>
    <nav class="no-border" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item" ng-class="{disabled:page==1}">
                <a class="page-link" href="#!/category/{{categoryRaw}}/{{ page---1 }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#!/category/{{categoryRaw}}/{{ page }}">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" href="#!/category/{{categoryRaw}}/{{ page--1 }}">{{ page--1 }}</a></li>
            <li class="page-item"><a class="page-link" href="#!/category/{{categoryRaw}}/{{ page--2 }}">{{ page--2 }}</a></li>
            <li class="page-item"><a class="page-link" href="#!/category/{{categoryRaw}}/{{ page--3 }}">{{ page--3 }}</a></li>
            <li class="page-item">
                <a class="page-link" href="#!/category/{{category}}/{{ page--1 }}">Next</a>
            </li>
        </ul>
    </nav>
</section>
<sidebar class="no-margin col-md-4 col-lg-4 col-xl-4 col-xs-12 col-sm-12"></sidebar>